
body {
    background-color: #f2f2f2;
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    opacity: 0;
    transition: opacity 1s;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #555;
}

.start-button {
    text-decoration: none;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}